<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片浏览(播放动画).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C5B02281D91857100DB1D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5B02411D91857200DB1D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C5B024C1D91857200DB1D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
